    <nav class="navbar navbar-expand-lg  fixed-top start-0 end-0 z-3 bg-black bg-opacity-50">
      <div class="container px-3 py-2">
        <a class="navbar-brand nav-brand-w text-main fs-3" href="#">Marina</a>
        <button class="navbar-toggler text-white border-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars text-white fs-3"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4 justify-content-center align-items-center">
            <li class="nav-item">
              <a class="nav-link active text-white position-relative ps-2 pe-2" aria-current="page" href="#Home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white ps-2 pe-2 position-relative" href="#About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white ps-2 pe-2 position-relative" href="#Projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white ps-2 pe-2 position-relative" href="#SKills">Skills</a>
            </li>
                        <li class="nav-item">
              <a class="nav-link text-white ps-2 pe-2 position-relative" href="#Services">Services</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white ps-2 pe-2 position-relative" href="#Contact">Contact</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
