    <section class=" py-5  section-bg" id="Projects">
      <div class="container">
        <div class="title text-center mt-5 mb-5">
          <h3 class="text-uppercase text-white fs-1 fw-bolder">projects</h3>
        </div>
        <div class="Projectd-items d-flex align-items-stretch gy-5 row">
          <div class=" col-lg-6  ">
            <div class="card h-100 project-card border-main section-bg  " >
              <div class="project-img overflow-hidden position-relative">
                <picture class="overflow-hidden overflow-hidden">
                  <a href="https://e-commerce-8ign.vercel.app//"><img class="w-100" src="../../assets/e-commerce-1.png" alt=""></a>
                  <a href="https://e-commerce-8ign.vercel.app//">
                    <div class="project-layer position-absolute d-flex justify-content-center align-items-center">
                      <div class="">
                        <p class="text-black p-3">
                          Shopinity E-commerce - Full-featured online store built with React and Tailwind CSS, supporting
                          API-based auth, product browsing, cart, wishlist, checkout, and payment.
                        </p>
                      </div>
                    </div>
                  </a>
                </picture>
              </div>
              <div class="card-body test-white px-3 py-3  project-content">
                <h4 class="text-white  fs-4 m-0 fw-bolder text-center py-3">
                  Shopinity E-commerce
                </h4>
                <p><span class="text-main">Live demo : </span><a class="" href=" https://e-commerce-8ign.vercel.app/"> https://e-commerce-8ign.vercel.app/</a></p>
                <p><span class="text-main">GitHub : </span><a class="" href=" https://e-commerce-8ign.vercel.app/">  https://github.com/Marina-Michel999/e-commerce</a></p>

              </div>
            </div>
          </div>

          <div class=" col-lg-6">
            <div class="card project-card border-main section-bg h-100 " >
              <div class="project-img overflow-hidden position-relative">
                <picture class="overflow-hidden overflow-hidden">
                  <a href="//marina-michel999.github.io/Movie-App/"><img class="w-100" src="../../assets/movie-app.png" alt=""></a>
                  <a href="//marina-michel999.github.io/Movie-App/">
                    <div class="project-layer position-absolute d-flex justify-content-center align-items-center">
                      <div class="">
                        <p class="text-black p-3">
                          Movie App – A responsive movie browsing app built with JavaScript and styled using Bootstrap,
                          fetching data from TheMovieDB API. Features include search, trending movies, detailed info, and
                          category .
                        </p>
                      </div>
                    </div>
                  </a>
                </picture>
              </div>
              <div class="card-body test-white px-3 py-3  project-content">
                <h4 class="text-white  fs-4 m-0 fw-bolder text-center py-3">
                  Movie App
                </h4>

                <p><span class="text-main">Live demo : </span><a class="text-decoration-underline" href=" //marina-michel999.github.io/Movie-App/"> https://marina-michel999.github.io/Movie-App/</a></p>
                <p><span class="text-main">GitHub : </span><a class="text-decoration-underline" href=" https://github.com/Marina-Michel999/Movie-App">  https://github.com/Marina-Michel999/Movie-App</a></p>

              </div>
            </div>
          </div>
          <div class=" col-lg-6">
            <div class="card project-card border-main section-bg h-100 " >
              <div class="project-img overflow-hidden position-relative">
                <picture class="overflow-hidden overflow-hidden">
                  <a href="https://marina-michel999.github.io/Weather-app/"><img class="w-100" src="../../assets/weather-app.png" alt=""></a>
                  <a href="https://marina-michel999.github.io/Weather-app/">
                    <div class="project-layer position-absolute d-flex justify-content-center align-items-center">
                      <div class="">
                        <p class="text-black p-3">
                          A weather forecast app built with JavaScript and styled using Bootstrap. It fetches real-time
                          weather data from an external API and displays temperature, humidity, and location information
                          in a clean, responsive UI.
                        </p>
                      </div>
                    </div>
                  </a>
                </picture>
              </div>
              <div class="card-body test-white px-3 py-3  project-content">
                <h4 class="text-white  fs-4 m-0 fw-bolder text-center py-3">
                  weather-app
                </h4>
                <p>

                </p>
                <p><span class="text-main">Live demo : </span><a class="text-decoration-underline" href="https://marina-michel999.github.io/Weather-app/"> https://marina-michel999.github.io/Weather-app/</a></p>
                <p><span class="text-main">GitHub : </span><a class="text-decoration-underline" href=" https://github.com/Marina-Michel999/Weather-app">   https://github.com/Marina-Michel999/Weather-app</a></p>

              </div>
            </div>
          </div>
          <div class=" col-lg-6">
            <div class="card project-card border-main section-bg h-100 " >
              <div class="project-img overflow-hidden position-relative">
                <picture class="overflow-hidden overflow-hidden">
                  <a href="//marina-michel999.github.io/Movie-App/"><img class="w-100" src="../../assets/movie-app.png" alt=""></a>

                </picture>
              </div>
              <div class="card-body test-white px-3 py-3  project-content">
                <h4 class="text-white  fs-4 m-0 fw-bolder text-center py-3">
                  Movie App
                </h4>
                <p><span class="text-main">Live demo : </span><a class="text-decoration-underline" href=" //marina-michel999.github.io/Movie-App/"> https://marina-michel999.github.io/Movie-App/</a></p>
                <p><span class="text-main">GitHub : </span><a class="text-decoration-underline" href=" https://github.com/Marina-Michel999/Movie-App">  https://github.com/Marina-Michel999/Movie-App</a></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
