    <section class=" py-5 contact-section section-bg" id="Contact">
      <div class="container overflow-hidden">
        <div class="title text-center mt-5 mb-5">
          <h3 class="text-uppercase fs-1 fw-bolder">Contact Us.</h3>
        </div>
          <div class="row justify-content-center">
            <div class="col-md-3 ">
              <div class=" px-5 py-3 m-0 d-flex justify-content-center align-items-center flex-column text-center">
                <div class="contact-icon d-flex justify-content-center align-items-center mb-3">
                  <i class="fa fa-location-arrow fs-3" aria-hidden="true"></i>
                </div>
                  <h4  class="text-main">Address
                  </h4>
                  <p>Alexandria, Egypt
                  </p>
              </div>
            </div>
            <div class="col-md-3 ">
              <div class=" px-5 py-3 m-0 d-flex justify-content-center align-items-center flex-column text-center">
                <div class="contact-icon d-flex justify-content-center align-items-center mb-3">
                  <i class="fa fa-envelope fs-2" aria-hidden="true"></i>                </div>
                  <h4 class="text-main">Email
                  </h4>
                  <p>marinamichel555@gmail.com
                  </p>
              </div>
            </div>
            <div class="col-md-3 ">
              <div class=" px-5 py-3 m-0 d-flex justify-content-center align-items-center flex-column text-center">
                <div class="contact-icon d-flex justify-content-center align-items-center mb-3">
                  <i class="fa fa-phone fs-2" aria-hidden="true"></i>                </div>
                  <h4 class="text-main">Phone
                  </h4>
                  <p>+20 1274512665
                  </p>
              </div>
            </div>

          </div>
          <form class="row justify-content-between gy-4">
            <div class="col-md-6">
              <input type="name" class="px-3 py-3 border-none w-100" placeholder="Name">
            </div>
            <div class="col-md-6">
              <input type="email" class="px-3 py-3 border-none w-100" placeholder="Email">
            </div>
            <div class="col-md-12">
              <textarea class="w-100 border-none px-3 py-3" placeholder="Message"></textarea>
            </div>
            <div class="col-md-12">
              <button type="button" class="btn border-main shadow-main hover-main text-main btn-border-main py-2 ps-5 pe-5">submit</button>
            </div>
          </form>
      </div>
    </section>
