    <section class=" service-section pt-5 pb-5 section-bg" id="Services">
      <div class="container">
        <div class="title text-center mb-5 mt-5">
          <h3 class="text-uppercase fs-1 fw-bolder">Services</h3>
        </div>
        <div class="services-items text-center gy-5 row">
          <div class="col-md-4">
            <div class="card h-100 p-3 text-center d-flex justify-content-center services-card" >
              <div class="card-icon m-auto d-flex align-items-center justify-content-center ">
                <i class="fa fa-laptop"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title text-main text-main">Problem Solving & UI Enhancement

                </h5>
                <p class="card-text">
                   Analyzing requirements, fixing UI issues, and improving layouts to deliver a smooth and user-friendly experience.                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100  p-3 text-center d-flex justify-content-center services-card" >
              <div class="card-icon m-auto d-flex align-items-center justify-content-center ">
                <i class="fa fa-bullhorn"></i>
                          </div>
              <div class="card-body">
                <h5 class="card-title text-main">Performance & Clean Code

                </h5>
                <p class="card-text">
                  Writing clean, optimized, and maintainable code with a focus on speed and best practices.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card  p-3 h-100 text-center d-flex justify-content-center services-card" >
              <div class="card-icon m-auto d-flex align-items-center justify-content-center ">
                <i class="fa fa-umbrella"></i>
                          </div>
              <div class="card-body">
                <h5 class="card-title text-main">Development

                </h5>
                <p class="card-text">
                  Building modern, fast, and responsive websites using HTML, CSS, JavaScript, and modern frameworks.

                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card  p-3 h-100 text-center d-flex justify-content-center services-card" >
              <div class="card-icon m-auto d-flex align-items-center justify-content-center ">
                <i class="fa fa-diamond"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title text-main">UI to Code</h5>
                <p class="card-text">
                  Converting Figma, XD, or PSD designs into clean, pixel-perfect, and well-structured code.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card  p-3 h-100 text-center d-flex justify-content-center services-card" >
              <div class="card-icon m-auto d-flex align-items-center justify-content-center ">
                <i class="fa fa-television"></i>
                          </div>
              <div class="card-body">
                <h5 class="card-title text-main">Fully Responsive
                </h5>
                <p class="card-text">
                  Creating fully responsive layouts that work perfectly on all screen sizes and devices.

                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card  p-3 h-100 text-center d-flex justify-content-center services-card" >
              <div class="card-icon m-auto d-flex align-items-center justify-content-center ">
                <i class="fa fa-camera"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title text-main">Interactive Web Interfaces

                </h5>
                <p class="card-text">
                  Adding smooth animations and interactive elements to enhance user experience using JavaScript.

                </p>
              </div>
            </div>
          </div>



        </div>
      </div>

    </section>
