.title{
    margin: auto;
    color: var(--main-color);
}
.services-card{
    /* box-shadow: 0 0 8px rgba(255, 193, 7, 0.6); */
    border: 2px solid var(--main-border-color);
    border-radius: 10px;
    background-color: transparent;
}
.card-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: all 0.5s;
    background-color: #f4f4f4;
}
.card:hover .card-icon{
    background-color: #212529;
    color: var(--main-color);
}
.card-icon i{
    font-size: 40px;
}
