    <header class="min-vh-100 m-0 p-0 active overflow-hidden" id="Home">
      <div
        class="header-layer d-flex  align-items-center bg-black bg-opacity-75 w-100 min-vh-100 "
      >
        <div class="container p-top">
          <div class="row ">
              <div class="  col-md-7">
                <div class=" ps-5  header-content ">
                  <p class="py-4 text-white m-0">Hello</p>
                  <h1 class="text-white fw-lighter">
                    I Am
                  </h1>
                </div>

              </div>
              <div class="col-md-5">
                <div class="header-img d-flex justify-content-center sm-justify-content-end pe-3">
                  <picture class="d-flex justify-content-center">
                  <img src="../../assets/home-img.png" class="w-100 h-100 object-fit-contain">
                  </picture>
                </div>
              </div>
          </div>

        </div>

      </div>
    </header>
